.dashboard-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 230px;
  transition: transform 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-card img {
  width: 30px;
  height: 30px;
  margin-bottom: 1rem;
}

.dashboard-card .title {
  font-size: 0.9rem;
  color: #888;
  margin: 0;
}

.dashboard-card .value {
  font-size: 1.4rem;
  color: #333;
  margin: 0.3rem 0 0 0;
}



.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .dashboard-cards {
    flex-direction: column;
    gap: 1.2rem;
  }
}
